/* default-css */
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}
body{
    background: #f5f5f5;
}
/* common-css */
.fix-width{
    max-width: 1280px;
    margin: auto;
}
.text-color1{
    color: #0e0e0e;
    opacity: 0.5;
}
/* header */
header{
    margin: 25px 0 50px 0;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header button{
    height: 52px;
    width: 116px;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;
}
header button:hover{
    color: white;
    background: #006A50;
    transition: 0.3s;
    cursor: pointer;
}
/* banner */
.banner{
    margin-bottom: 80px;
}
.banner-content{
    background: #C6E4D6;
    border-radius: 24px;
    padding: 80px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    width: 622px;
    height: 326px;
}
.banner-left h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-left h1{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}
.banner-left button{
    height: 56px;
    width: 270px;
    background: #006A50;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}
.banner-left button:hover{
    background: #ffffff;
    border: 1px solid #006A50;
    color: #006A50;
    cursor: pointer;
}
.brimg{
    background-image: url(assets/img/hero.png);
    background-repeat: no-repeat;
    height: 400px;
    width: 475px;
}
/* pillars */
.pillars{
    margin-bottom: 80px;
}
.pillars-content h1{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 32px;
}
.pillars .cards{
    display: flex;
    justify-content: space-between;
}
.pillars .card{
    width: 302px;
    background: white;
    padding: 24px 24px 10px 24px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.pillars .cardimg{
    background-image: url(assets/img/card-icon.png);
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}
.pillars .card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.pillars .card p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
/* future-vision  */
.future-vision{
    margin-bottom: 80px;
    display: block;
}
.future-vision .headline{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.future-vision .headtext{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-bottom: 32px;
}

.future-vision .cards{
    display: flex;
    justify-content: space-between;
}
.future-vision .card{
    width: 410px;
    background: rgba(84, 143, 245, 0.2);
    padding:33px ;
    box-sizing: border-box;
    border-radius: 16px;
}
.future-vision .card div{
    background-image: url(assets/img/card-icon.png);
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}
.future-vision .card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.future-vision .card p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}
.future-vision .card button{
    height: 41px;
    width: 122px;
    border-radius: 8px;
    background: #5490F5;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: 0.3s ease-in-out;
}
.future-vision .card:nth-child(2){
    background: #C6E4D6;
}
.future-vision .card:nth-child(2) button{
    background: #09A15C;
}
.future-vision .card:nth-child(3){
    background: #F7EBCF;
}
.future-vision .card:nth-child(3) button{
    background: #FFC239;
}
        /* hover  */
.future-vision .card button:hover{
    background: white;
    border:1px solid #5490F5 ;
    color: #5490F5;
    cursor: pointer;
}
.future-vision .card:nth-child(2) button:hover{
    color: #09A15C;
    border-color: #09A15C;
}
.future-vision .card:nth-child(3) button:hover{
    color: #FFC239;
    border-color: #FFC239;
}
/* future-vision-footer */
.future-vision-footer{
    background: white;
    padding: 48px 24px;
    margin-top: 32px;
    border-radius: 16px;
    position: relative;
}
.future-vision-footer .fvfimg{
    background-image: url(assets/img/quote-bg.png);
    height: 64px;
    width: 64px;
    position: absolute;
    top: 24px;
    left: 24px;
}
.future-vision-footer p{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    margin-bottom: 12px;
}
.future-vision-footer h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
}
.future-vision-footer h6{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    font-weight: 400;
}
/* questions  */
.questions{
    margin-bottom: 80px;
}
.questions-content{
    background: white;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
}
.question-header{
    display: flex;
    justify-content: space-between;
    background: #C6E4D6;
    padding: 24px;
    border: 2px solid rgba(14, 14, 14, 0.15);
}
.question-header h1{
    font-size: 20px;
    font-weight: 600;
}
.question-data{
    display: flex;
    justify-content: space-between;
    padding: 0 23px;
    border: 2px solid rgba(14, 14, 14, 0.15);
    align-items: center;
    border-top: none;
}
.question-data h1{
    font-size: 16px;
    font-weight: 600;
    height: 92px;
    display: flex;
    align-items: center;
    width: 992px;
    border-right: 2px solid rgba(14, 14, 14, 0.15);
}
.question-data-right button{
    height: 44px;
    width: 152px;
    border-radius: 4px;
    border: 2px solid #0E0E0E;
    font-size: 16px;
    font-weight: 500;
    background: #C6E4D6;
}
.question-data-right button span{
    margin-left: 10px;
}
/* recent-news  */
.recent-news{
    margin-bottom: 80px;
}
.recent-news-content h1{
    font-size: 40;
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 40px;
}
.recent-news-content p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.recent-news-cards{
    padding: 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    background: white;
    border-radius: 24px;
}
.recent-news .card-left .img{
    background-image: url(assets/img/satelite.png);
    height: 306px;
    width: 408px;
    border-radius: 24px;
}
.recent-news .card-right{
    width: 744px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recent-news .card-right h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}
.recent-news .card-right .img{
    background-image: url(assets/img/al-jazeera.png);
    height: 40px;
    width: 134px;
    margin-bottom: 12px;
}
.recent-news .card-right .time{
    display: flex;
    margin-bottom: 12px;
}
.recent-news .card-right .time h5{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    margin-right: 12px;
}
.recent-news .card-right p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px 0 32px 0;
    line-height: 24px;
}
.recent-news .card-right button{
    background: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px;
    border: none;
    border-radius: 8px;
    width: 141px;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}
.recent-news .card-right button:hover{
    background: white;
    color: #006A50;
    border: 1px solid #006A50;
    cursor: pointer;
}
/* 2nd-card-flex-direction */
.recent-news-cards:nth-child(4){
    flex-direction: row-reverse;
}
/* donate-section */
.donate{
    margin-bottom: 80px;
}
.donate-content{
    text-align: center;
}
.donate-content h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.donate-content p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
    padding: 0 88px;
}
.money-selection{
    display: flex;
    justify-content: space-between;
    padding: 0 105px;
}
.money-selection h1{
    padding: 40px;
    background: white;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin-bottom: 32px;
    transition: 0.3s ease-in-out;
}
.money-selection h1:hover{
    background: #C6E4D6;
    cursor: pointer;
}
.money-input{
    height: 64px;
    width: 1032px;
    border: none;
    margin-bottom: 32px;
    box-shadow: 0px 1px 2px rgba(14, 14, 14, 0.15);
}
.money-input::placeholder{
    font-size: 20px;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
}
.donate-content button{
     padding: 17px 34px;
     display: block;
     margin: auto;
     font-size: 18px;
     font-weight: 600;
     color: white;
     border: none;
     background: #006A50;
     border-radius: 8px;
     transition: 0.3s ease-in-out;
     border: 1px solid transparent;
}
.donate-content button:hover{
    background: white;
    color:#006A50 ;
    cursor: pointer;
    border: 1px solid #006A50;
}
.newsletter{
    margin-bottom: 80px;
}
.newsletter-content{
    text-align: center;
    background: #C6E4D6;
    border-radius: 24px;
    padding: 80px 0;
}
.newsletter-content h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    
}
.newsletter-content p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    width: 622px;
    margin: auto;
    margin-bottom: 24px;
}
.email-input{
    display: flex;
    justify-content: center;

}
.email-input input{
    height: 56px;
    width: 600px;
    border: none;
    border-radius: 8px 0 0 8px;
}
.email-input input::placeholder{
    color: rgba(14, 14, 14, 0.30);
    font-size: 16px;
    padding-left: 40px;
}
.email-input button{
    border: none;
    padding: 15px 34px;
    font-size: 18px;
    font-weight: 6010;
    background: #006A50;
    color: white;
    border-radius: 0 8px 8px 0;
    transition: 0.3s ease-in-out;
    border: 1px solid #006A50;
}
.email-input button:hover{
    background: white;
    cursor: pointer;
    color: #006A50;
    border: 1px solid #006A50;
    box-sizing: border-box;
}
.newsletter-content h3{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
    font-weight: 400;
}
/* footer */
.footer{
    background: white;
    padding: 50px 0;
}
.footer-content h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}
.footer .stroke{
    height: 1px;
    width: 1122px;
    background: rgba(14, 14, 14, 0.10);
    margin: auto;
    margin-bottom: 32px;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-logo .logo{
    height: 24px;
    width: 26px;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-logo .logo1{
    background-image: url(assets/img/facebook.png);
}
.footer-logo .logo2{
    background-image: url(assets/img/instagram.png);
    margin: 0 23px;
}
.footer-logo .logo3{
    background-image: url(assets/img/x.png);
}